.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #212121;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #EEEBDD;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #212121;
}

.App-button {
  background-color: #EEEBDD;
  border: solid 3px;
  border-radius: 5px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(4vmin);
  color: #212121;
}